<!DOCTYPE html>
<head> 
  <link href="<%= url('/home.css') %>" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/ea92a85679.js" crossorigin="anonymous"></script>
</head>

<body>
  <%# header %>
  <div id='welcome'>
  <div id='logo'>
  </div>
    <h1>Player Progress Tracker</h1>
  </div>
  <%# navbar %>
  <nav> 
  <a href="/home" id='home'><i class="fas fa-home"></i> Home</a>
  <div id="nav-links">
    <a href="/form_a_team">Form a Team</a> |
    <a href="/update_team">Update Team</a> |
    <a href="/my_teams">My Teams</a> |
    <a href="/">Logout</a> |
    <p id='username'><i class="fas fa-user"></i><%= @username %> </p>
  </div>
</nav>

<%# main section %>
  <% @teams.each do |team| %>
    <div id='team-container'>
      <div id='details-team'>
        <h2 id='team_name'><%= team['team_name'] %></h2>
        
        <%# <span>Number  of Players</span>  %>
        <div id='squad_size'>
          <p id='ss'> <h5>Squad size:  <%= team['number_of_players'] %></h5></p>
        </div>
        <div id='coach_or_manager'>
          <p id='cm'> <h5>Coach or Manager:  <%= team['coach_or_manager'] %></h5></p>
        </div>
      </div>
    </div>

  <% end %>
</body>